.what-section{

    width:min(1200px,92%);
    margin:auto;
    padding:120px 0;

}

.what-heading{

    text-align:center;
    margin-bottom:70px;

}

.what-heading p{

    color:#38BDF8;
    letter-spacing:5px;
    font-weight:800;
    font-size:22px;

}

.what-heading h2{

    color:white;
    font-size:56px;
    margin-top:20px;

}

/* ===================== */

.blueprint{

    display:flex;
    flex-direction:column;
    gap:35px;

}

.activity{

    display:flex;
    align-items:center;
    gap:35px;

    padding:25px 35px;

    background:rgba(255,255,255,.03);

    border:1px solid rgba(59,130,246,.12);

    border-radius:18px;

    position:relative;

    transition:.35s;

}

.activity::after{

    content:"";

    position:absolute;

    left:90px;

    bottom:-18px;

    width:2px;

    height:18px;

    background:#2563EB;

}

.activity:last-child::after{

    display:none;

}

.activity:hover{

    transform:translateX(12px);

    border-color:#3B82F6;

    box-shadow:0 0 30px rgba(37,99,235,.25);

}

.activity span{

    font-size:42px;

    width:60px;

    text-align:center;

}

.activity h3{

    color:white;

    font-size:28px;

    margin-bottom:10px;

}

.activity p{

    color:#94A3B8;

    line-height:1.8;

    max-width:700px;

}

@media(max-width:768px){

.activity{

flex-direction:column;

text-align:center;

}

.activity::after{

display:none;

}

}